/* Reset and Base Styles */

body {
    font-size: 16px;
    color: #ffffff; /* Dark grey text color */
    background-color: #f5f5f5; /* Light grey background as fallback */
    line-height: 1.6;
    position: relative; /* This is required for the ::before positioning */
    overflow: hidden;   /* This ensures that the pseudo-element doesn't overflow the body */
    overflow-y: auto;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background-image: url('imgs/Screenshot 2023-06-28 at 11.03.47 PM.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px); /* This applies the blur effect */
    z-index: -1; /* This places the pseudo-element below the actual content */
}
.contact-info {
    font-size: 1.5em;
    box-shadow: 0 6px 12px rgba(255,255,255,0.3);
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
    border: 5px solid rgb(194, 192, 192);
    border-radius: 40px;
    padding: 20px; /* Slightly reduced padding to make it more compact */
    width: 60%; /* Reduced width */
    margin: 15px auto; /* Adjusted margin to center it */
}

.contact-info h2{
    font-size: 1.2em;
    margin: 15px auto; /* Adjusted margin to center it */
    border-bottom: 2px solid #cacaca;
    border-radius: 20px;

}

.dropdown-content .nested-dropdown {
    position: relative;
}

.dropdown-content .nested-dropdown:hover .nested-content {
    display: block;
}

.nested-content {
    display: none;
    position: absolute;
    left: 0; /* This ensures it starts from the left edge of the parent dropdown */
    top: 100%; /* This ensures it appears right below the parent link */
    background-color: rgba(0,0,0,0.8);
    min-width: 10px;
    border-radius: 5px;
    z-index: 1;
}

.nested-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nested-content a:hover {
    background-color: rgba(255,255,255,0.2);
}

.education-section {
    border-radius: 40px;
    margin: 20px auto; /* center the section/container and provide spacing */
    border-left: 8px solid rgb(194, 192, 192);
    padding-left: 40px; /* Increased padding for larger box feel */
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 15px rgba(255,255,255,0.2);
    width: 90%; /* Increased width */
    padding: 30px; /* Increased padding for a larger box */
}
.container {
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background for the container */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* subtle shadow for a modern touch */
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Profile Image */

.profile-image {
    width: 150px;
    border-radius: 50%;
    border: 2px solid #e0e0e0; /* Grey border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

/* Biography Section */

.bio h1 {
    text-align: center;
    color: #c5c5c5; /* Darker grey for headings */
    font-size: 2em;
    margin-bottom: 20px;
}

.bio p {
    color: #ffffff; /* Medium grey for paragraph text */
    margin-bottom: 20px;
}

/* Dropdown Menu */

.dropdown {
    position: fixed;
    top: 10px;
    right: 10px;
    display: inline-block;
}
.dropdown-content {
    top: 35px;
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}
.dropdown-content a:hover {
    background-color: #cecece;
    border-radius: 4px;
}




.dropbtn {
    background-color: #2e2e2e; /* Dark grey button */
    color: #f5f5f5; /* Light grey text on button */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropbtn:hover {
    background-color: #111; /* Darker grey on hover */
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #2e2e2e; /* White background */
    border: 1px solid #e0e0e0; /* Grey border */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 160px;
}
